<a href="https://colab.research.google.com/github/Rukhsar-Nisar/20SW137_DS-A_LAB_TASKS/blob/main/20SW137(LAB_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TASK1
#points = 174  # use this input to make your submission
# write your if statement hereprint(result)
prize = ["wooden prize", "no prize", "water thin mint", "penguin"]
result = "Sorry, you didn't win a prize this time."
points = int(input("Enter points you scored: "))

if 1 <= points <= 50:
    result = "Congratulations! You won a {}".format(prize[0])
elif 51 <= points <= 150:
    result = "Oh dear, {} this time.".format(prize[1])
elif 151 <= points <= 180:
    result = "Congratulations! You won a {}".format(prize[2])
elif 181 <= points <= 200:
    result = "Congratulations! You won a {}".format(prize[3])

print(result)

Enter points you scored: 174
Congratulations! You won a water thin mint

In [ ]:
#TASK2
# '''# You decide you want to play a game where you are hiding # a number from someone.  Store this number in a variable
# called 'answer'.  Another user provides a number called# 'guess'.  By comparing guess to answer, you inform the user
# if their guess is too high or too low.
answer = 7
answerguess = int(input("Enter your guess number: "))
if answerguess > answer:
        result = "Oops! Your guess was too high."
elif answerguess < answer:
        result = "Oops! Your guess was too low."
elif answerguess == answer:
        result = "Nice! Your guess matched the answer!"
else:
        result = "Invalid input. Please enter a valid number."
print(result)

Enter your guess number: 4
Oops! Your guess was too low.

In [ ]:
#Task#03
#Tax PurchaseDepending on where an individual is fromwe need to tax them appropriately.
#The states of CA, MN, and NY have taxes of 7.5%, 9.5%, and 8.9% respectively.
#Use this information to take the amount of a purchase and the corresponding state to assure that they are taxed by the right amount.
taxratio = {
    "CA": 7.5 / 100,
    "MN": 9.5 / 100,
    "NY": 8.9 / 100
}

state = input("Enter state:")
purchase = int(input("Enter purchase:"))

if state in taxratio:
    tax = purchase * taxratio[state]
    total_amount = purchase + tax
else:
    tax = 0
    total_amount = purchase

print("Total amount =", total_amount)

Enter state:NY
Enter purchase:1000
Total amount = 1089.0

In [ ]:
#TASK 9
#Usezipto create a dictionarycastthat usesnamesas keys andheightsas values.
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]
cast = {name: height for name, height in zip(cast_names, cast_heights)}
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

In [ ]:
#Task#04
#Use aforloopto take a list and print each element of the list in its own line.
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]
for word in sentence:
    print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

In [ ]:
#TASK#5
#Multiples of 5Write aforloop below that will print out every whole number that is a multiple of 5 and less than or equal to 30.
multiples_5 = []
for i in range(1, 31):
    if i % 5 == 0:
        multiples_5.append(i)

print(multiples_5)

[5, 10, 15, 20, 25, 30]

In [ ]:
#Task#06
#Extract First NamesUse a list comprehension to create a new listfirst_namescontaining just the first names innamesin lowercase.
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
first_names = []

for name in names:
    first_name = name.split()[0].lower()
    first_names.append(first_name)

print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

In [ ]:
#Task#07
#Multiples of ThreeUse a list comprehension to create a listmultiples_3containing the first 20 multiples of 3.
multiples_3 = []
for i in range(1, 21):
    multiples_3.append(i * 3)

print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [ ]:
#TASk8
#Use a list comprehension to create a list of namespassedthat only include those that scored at least 65.
scores = {
    "Rick Sanchez": 70,
    "Morty Smith": 35,
    "Summer Smith": 82,
    "Jerry Smith": 23,
    "Beth Smith": 98
}

passed_Students = []
for name, score in scores.items():
    if score >= 65:
        passed_Students.append(name)

print(passed_Students)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [ ]:
#TASK 10
#Useenumerateto modify thecastlist so that each element contains the name followed by the character's corresponding height.
# For example, the first element ofcastshould change from"BarneyStinson"to"BarneyStinson72".
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for index, name in enumerate(cast):
    cast[index] = name + str(heights[index])

print(cast)

['Barney Stinson72', 'Robin Scherbatsky68', 'Ted Mosby72', 'Lily Aldrin66', 'Marshall Eriksen76']